@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./css/app.css";

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
    --color-primary: #1c1c22;
    --color-primary-light: #1c1c22;
    --color-primary-dark: #1c1c22;

    --color-secondary: #005672;
    --color-secondary-light: #0089b5;
    --color-secondary-dark: #080c4d;

    --color-accent: #da9d00;
    --color-accent-houver: #da9d00;
    --color-accent-light: #da9d00;
    --color-accent-dark: #da9d00;

    --color-neutral: #1c1c22;
    --color-neutral-light: #1c1c22;
    --color-neutral-dark: #1c1c22;

  }

  body {
    @apply font-primary bg-primary text-white leading-loose;
  }
}
